<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore the best restaurants around you with Luwe. Find ratings, reviews, and the perfect spot for your next meal."
    />
    <meta name="theme-color" content="#00aa5b" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Luwe | Restaurant Finder</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#mainContent" class="skip-link" aria-label="Skip to Content"
      >Skip to Content</a
    >

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Luwe!</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="https://www.linkedin.com/in/hassanjadi/">About</a></li>
          <li><a href="#/favorite">Favorite</a></li>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>
    
    <footer>
      <p>
        All data obtained from
        <a href="https://themoviedb.org" target="_blank" rel="noreferrer"
          >Luwe!</a
        >
      </p>
    </footer>
  </body>
</html>
