* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2, h3, h4 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.6;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* 
  Skip to Content
*/

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  align-items: center;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 8px;
  z-index: 100;
  min-width: 44px;
  min-height: 44px;
}

.skip-link:focus {
  top: 0;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #00aa5b;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/* 
  Hero
*/

.hero {
  position: relative;
  text-align: center;
}

.hero__container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
}

.hero__description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero__description h1 {
  text-shadow: 1px 1px 5px #000;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 24px;
}

.hero__description a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: #00aa5b;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  padding: 12px 24px;
  border-radius: 50px;
}

.hero__images {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

/*
  Main Content
*/

main {
  flex: 1;
}

.content {
  margin: 32px;
  min-height: 100%;
}

.content .content__heading {
  font-weight: 600;
}


/*
  Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}


/*
  Restaurant Item
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
  min-height: 250px;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: #00aa5b;
  color: white;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  color: #000;
  text-decoration: none;
}

.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}


/*
  Detail Restaurant
*/
.detail__restaurant {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.detail__header {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.restaurant__poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.detail__description {
  padding: 15px;
}

.restaurant__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.detail__address {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.detail__address h4 {
  font-size: 16px;
  color: #333;
}

.detail__address p {
  font-size: 14px;
  color: #555;
}

.restaurant__menu {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.restaurant__menu__food,
.restaurant__menu__drink {
  margin-bottom: 20px;
}

.restaurant__menu h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.restaurant__menu ul {
  list-style-type: none;
  padding: 0;
}

.restaurant__menu li {
  font-size: 16px;
  color: #555;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.restaurant__menu li:hover {
  background-color: #f4f4f4;
}


.restaurant__overview {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.restaurant__overview h3 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

form input[type="text"],
form textarea,
form input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

.customer-review {
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-review p {
  margin: 0;
  color: #555;
}

.customer-review strong {
  color: #333;
  font-weight: bold;
}

.customer-review .date {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/*
  Footer
*/

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #00aa5b;
  text-decoration: none;
}